<section id="scales">
    <div>
        <div>
            <div class="right">ויזואלי</div>
            <div class="left">טקסטואלי</div>
        </div>
        <input type="range" min="1" max="10" step="1" value="5">

        <div>
            <div class="right">עצמאי</div>
            <div class="left">חברתי</div>
        </div>
        <input type="range" min="1" max="10" step="1" value="5">

        <div>
            <div class="right">קופצני</div>
            <div class="left">לינארי</div>
        </div>
        <input type="range" min="1" max="10" step="1" value="5">

        <div>
            <div class="right">פסיבי</div>
            <div class="left">אקטיבי</div>
        </div>
        <input type="range" min="1" max="10" step="1" value="5">

        <div>
            <div class="right">אוטו דידקטי</div>
            <div class="left">מסגרתי</div>
        </div>
        <input type="range" min="1" max="10" step="1" value="5">

        <div>
            <div class="right">משחקי</div>
            <div class="left">רציני</div>
        </div>
        <input type="range" min="1" max="10" step="1" value="5">

        <div>
            <div class="right">נושאי</div>
            <div class="left">אינטרדיסציפלינרי</div>
        </div>
        <input type="range" min="1" max="10" step="1" value="5">

    </div>
    <footer></footer>
</section>